<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
        <!-- <div class="card"> -->
          <!-- <img class="card-img-top" src="https://community.alteryx.com/t5/image/serverpage/image-id/259688iF6C1C4BD0BC11851?v=v2" class="float-right" /> -->
          <h4><b>{{ item.org }}</b></h4>
          <h5><i>{{ item.role }}</i></h5>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>